<div ng-controller="ProductListCtrl">
    <nav class="navbar navbar-inverse my_nav" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" href="../index.html">Let's Go</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="../index.html">主页</a></li>
                    <li class="active"><a href="#">商品列表</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="cart.html"><span class="glyphicon glyphicon-shopping-cart"></span>购物车({{cart_count}})</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading my_panel_head">
                <h3 class="panel-title">商品列表</h3>
            </div>
            <div class="panel-body">
                <table ng-table="tableParams" class="table table-bordered">
                    <tr ng-repeat="product in products">
                        <td data-tittle="类别">
                            {{product.type}}
                        </td>
                        <td data-tittle="名称">
                            {{product.name}}
                        </td>
                        <td data-tittle="单价（元）">
                            {{product.price}}
                        </td>
                        <td data-tittle="单位">
                            {{product.unit}}
                        </td>
                        <td data-tittle="数量">
                            {{product.count}}
                        </td>
                        <td data-tittle="小计">
                            {{product.total_price}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>